In [2]:
import pandas as pd
import numpy as np

In [3]:
date = pd.date_range('2025-01-01', periods=5, freq='Y')

df = pd.DataFrame(
    {
        "A": pd.Series(np.random.randint(0, 10, size=5), index=date),
        "B": pd.Series(np.random.randint(0, 10, size=5), index=date),
        "C": pd.Series(np.random.randint(0, 10, size=5), index=date),
        "D": pd.Series(np.random.randint(0, 10, size=5), index=date),
    }
)

df

C:\Users\soldesk\AppData\Local\Temp\ipykernel_9756\2970765201.py:1: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  date = pd.date_range('2025-01-01', periods=5, freq='Y')

            A  B  C  D
2025-12-31  2  0  5  2
2026-12-31  5  8  7  1
2027-12-31  0  1  3  0
2028-12-31  4  7  7  0
2029-12-31  9  3  3  5

In [4]:
#행과 열 추가하기
df["E"] = pd.Series(np.random.randint(0,10, size=5), index=date)
df

            A  B  C  D  E
2025-12-31  2  0  5  2  6
2026-12-31  5  8  7  1  9
2027-12-31  0  1  3  0  1
2028-12-31  4  7  7  0  2
2029-12-31  9  3  3  5  7

In [ ]:

df.loc['2030-12-31', :] = [0,0,0,0,0]
df

              A    B    C    D    E
2025-12-31  2.0  0.0  5.0  2.0  6.0
2026-12-31  5.0  8.0  7.0  1.0  9.0
2027-12-31  0.0  1.0  3.0  0.0  1.0
2028-12-31  4.0  7.0  7.0  0.0  2.0
2029-12-31  9.0  3.0  3.0  5.0  7.0
2030-12-31  0.0  0.0  0.0  0.0  0.0

In [7]:
#임의 위치에 열 추가하기
df.insert(2, 'AA', 
  pd.Series(
    np.random.randn(10), 
    index=pd.date_range('1/1/2025', periods=10, freq='Y')
  )
)

df

C:\Users\soldesk\AppData\Local\Temp\ipykernel_9756\2434321486.py:5: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  index=pd.date_range('1/1/2025', periods=10, freq='Y')

              A    B        AA    C    D    E
2025-12-31  2.0  0.0  0.700607  5.0  2.0  6.0
2026-12-31  5.0  8.0  0.058890  7.0  1.0  9.0
2027-12-31  0.0  1.0  0.335713  3.0  0.0  1.0
2028-12-31  4.0  7.0 -0.019351  7.0  0.0  2.0
2029-12-31  9.0  3.0 -1.675792  3.0  5.0  7.0
2030-12-31  0.0  0.0 -0.043678  0.0  0.0  0.0

In [8]:
#행/열 삭제하기
df = df.drop('2025-12-31', axis=0)  #반환값을 다시 받아주어야함
df = df.drop('E', axis=1)
df

              A    B        AA    C    D
2026-12-31  5.0  8.0  0.058890  7.0  1.0
2027-12-31  0.0  1.0  0.335713  3.0  0.0
2028-12-31  4.0  7.0 -0.019351  7.0  0.0
2029-12-31  9.0  3.0 -1.675792  3.0  5.0
2030-12-31  0.0  0.0 -0.043678  0.0  0.0

In [9]:
df = df.replace(np.nan, 2)
df

              A    B        AA    C    D
2026-12-31  5.0  8.0  0.058890  7.0  1.0
2027-12-31  0.0  1.0  0.335713  3.0  0.0
2028-12-31  4.0  7.0 -0.019351  7.0  0.0
2029-12-31  9.0  3.0 -1.675792  3.0  5.0
2030-12-31  0.0  0.0 -0.043678  0.0  0.0